@import './includes/_header.scss';
@import './includes/_section-2.scss';
@import './includes/_foot.scss';
@import './media/_media640.scss';
@import './media/_media320.scss';
@import './media/_media800.scss';
@import './includes/_font.scss';

body, p, h1, h2, h3, h4, a {
    padding: 0;
    margin: 0; 
    font-family: Altair !important;
} 
 
p {
    
}